/* FUENTES Y ESTILOS GLOBALES */

@font-face {
  font-family: "Starshines";
  src: url("fonts/Starshines.ttf") format("opentype");
}

@font-face {
  font-family: "MADE TOMMY Regular";
  src: url("fonts/MADE TOMMY Regular.otf") format("opentype");
}

@font-face {
  font-family: "Starbim";
  src: url("fonts/Starbim.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "MADE TOMMY Regular", sans-serif;
  margin: 0;
  padding: 0;
  cursor: url("../images/cursor.cur"), auto;
}

button,
a {
  cursor: url("../images/cursor.cur"), auto;
}

/* HEADER Y NAVEGACIÓN */

header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 38, 74, 0.637);
  border-bottom: 1px solid #fef102;
  z-index: 89;
}

.gifs-header {
  position: fixed;
  top: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 95;
}

.gifs-header img {
  height: 44px;
  width: auto;
  display: block;
}

.izquierda-gif {
  left: 80px;
}

.derecha-gif {
  right: 80px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-family: "Starshines";
  font-size: 25px;
  padding: 10px;
  color: #fef102;
}

nav a:hover {
  background: #fef102;
  color: #00264a;
}

.contenedor-titulo {
  width: 100%;
  background: rgb(0, 39, 78);
  border-top: 2px solid #fef102;
  border-bottom: 2px solid #fef102;
  box-shadow: 0 0 15px #00274e;
  padding: 25px 15px;
  margin: 100px auto auto auto;
  text-align: center;
  backdrop-filter: blur(6px);
}

.titulo-principal {
  font-family: "Starbim";
  font-size: 60px;
  color: #fef102;
  margin: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#titulo-pagina {
  letter-spacing: 2px;
}

/* ESTRUCTURA PRINCIPAL Y LAYOUT */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

section {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

/* TARJETAS Y CONTENEDORES PRINCIPALES */

.tarjeta-index {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 2px solid #00274e;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4);
  padding: 20px 40px;
  margin: 20px;
  color: #00274e;
}

.tarjeta-index h2 {
  font-family: "Starbim", sans-serif;
  font-size: 40px;
  color: #00274e;
  text-shadow: 2px 2px 0px #fef102;
  margin-bottom: 25px;
  text-align: center;
}

.tarjeta-introduccion {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 2px solid #00274e;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4);
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: justify;
}

.tarjeta-tabla {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border: 2px solid #00274e;
  border-radius: 20px;
  padding: 20px 25px;
  width: auto;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4);
  overflow-x: auto;
}

/* ESTILOS DE TEXTO ESPECÍFICOS */

.tarjeta-index p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.texto-bienvenida {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.6;
}

.enfasis-azul {
  color: #00274e;
}

mark {
  background-color: #fef102;
  color: #00274e;
  font-weight: bold;
}

.tarjeta-index .texto-tienda {
  text-align: center;
}

.tarjeta-index .texto-recursos {
  text-align: center;
}

.parrafo-intro-test {
  font-size: 19px;
  text-align: justify;
  margin-bottom: 30px;
  padding: 0 20px;
}

.texto-tarjeta {
  color: #00274e;
  font-family: "MADE TOMMY Regular";
  flex: 1;
}

.texto-tarjeta h2 {
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
  color: #00274e;
}

.texto-tarjeta p {
  font-size: 18px;
  line-height: 1.5;
}

.pie-imagen {
  font-family: "Starshines";
  color: #fef102;
  font-size: 18px;
  text-shadow: -1.5px -1.5px 0 #00274e, 1.5px -1.5px 0 #00274e,
    -1.5px 1.5px 0 #00274e, 1.5px 1.5px 0 #00274e;
  display: block;
  margin-top: 10px;
}

/* FONDOS Y ELEMENTOS GRÁFICOS */

.personajes,
.index,
.dispositivos {
  background-image: url("../images/fondo.gif");
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
}

.contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 30px 0;
}

.contenedor-imagen {
  text-align: center;
}

.video-tamagotchi {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-tamagotchi a {
  display: inline-block;
  position: relative;
  border: 4px solid #fef102;
  outline: 3px solid #00274e;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: white;
}

.video-tamagotchi img {
  border-radius: 15px;
  max-width: 100%;
  width: 560px;
}

.video-tamagotchi a::before {
  content: '▶';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  opacity: 0.9;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease;
}

.mapa-tienda {
  text-align: center;
  margin: 20px 0;
}

.mapa-tienda iframe {
  border: 4px solid #fef102;
  outline: 3px solid #00274e;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: white;
  max-width: 100%;
}

.contenedor-gif-test {
  text-align: center;
  margin: 20px 0;
}

.imagen-introduccion {
  max-width: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 20px auto 0;
  border: 4px solid #fef102;
  outline: 3px solid #00274e;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: white;
}

.imagen-introduccion-tarjeta {
  width: 35%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  border: 2px solid #00274e;
}

.lista-comparativa {
  font-size: 19px;
  font-weight: 500;
}

.tarjeta-comparativa {
  background-color: rgba(0, 39, 78, 0.7);
  backdrop-filter: blur(6px);
  color: #fef102;
  border: 1px solid #fef102;
  text-align: justify;
}

.titulo-comparativa {
  font-family: "Starshines", sans-serif;
  color: #00274e;
  text-shadow: 2px 2px 0px #fef102;
  text-align: center;
}

.tarjeta-comparativa mark {
  background-color: transparent;
}

/* ASIDE (BARRA LATERAL) */

.contenedor-noticias {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.tarjeta-noticia {
  background-color: rgba(0, 39, 78, 0.1);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(0, 39, 78, 0.2);
  display: block;
  text-decoration: none;
  color: inherit;
}

.tarjeta-noticia img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.descripcion-noticia {
  padding: 10px 15px;
  font-size: 15px;
  text-align: justify;
}

.boton-ver-mas {
  display: block;
  background-color: #00274e;
  color: #fef102;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tarjeta-lateral {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 2px solid #00274e;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4);
  padding: 20px;
  margin: 20px 20px 20px 0;
  color: #00274e;
}

.tarjeta-lateral h2 {
  font-family: "Starbim", sans-serif;
  font-size: 40px;
  color: #00274e;
  text-shadow: 2px 2px 0px #fef102;
  margin-bottom: 15px;
  text-align: center;
}

/* FOOTER (PIE DE PÁGINA) */

footer {
  width: 100%;
  background: #00274e;
  border-top: 1px solid #fef102;
  padding: 15px 0;
  margin-top: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: #fef102;
}

/* PÁGINA PERSONAJES (TABLA) */

.tarjeta-tabla table {
  width: 100%;
  table-layout: fixed;
}

.tarjeta-tabla th,
.tarjeta-tabla td {
  overflow-wrap: break-word;
}

.generacion-original {
  background-color: #fdfd96;
}

.generacion-connection {
  background-color: #d6f5ff;
}

.generacion-connection2 {
  background-color: #d6f5ff79;
}

.generacion-id {
  background-color: #f6e1ff;
}

.generacion-id2 {
  background-color: #f6e1ff77;
}

.generacion-mix {
  background-color: #d8ffd6;
}

.generacion-mix2 {
  background-color: #d8ffd671;
}

.genero-masculino {
  background-color: #b3d9ff;
}

.genero-femenino {
  background-color: #ffd6e7;
}

.arte-tamagotchi {
  width: 75px;
  height: 75px;
  border-radius: 6px;
}

.sprite-tamagotchi {
  width: 60px;
  height: 60px;
}

.columna-generacion {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.columna-notas {
  text-align: justify;
}

.arte-tamagotchi,
.sprite-tamagotchi {
  display: block;
  margin: auto;
}

table {
  width: 1000px;
  height: 500px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #00274e;
  background-color: #ffffff;
}

th,
td {
  border: 1px solid #fef102;
  padding: 8px 10px;
  text-align: center;
  color: #00274e;
  font-size: 14px;
  vertical-align: middle;
}

th {
  background-color: #00274e;
  color: #fef102;
}

th[colspan="10"] {
  background-color: #00274e;
  color: #fef102;
  font-size: 21px;
  letter-spacing: 1px;
  border: 2px solid #fef102;
  padding: 12px;
}

tr:nth-child(2) th,
tr:nth-child(3) th {
  background-color: #fef102;
  color: #00274e;
  border: 1px solid #00274e;
  font-weight: bold;
}

tfoot td {
  text-align: justify;
  padding: 15px;
  background-color: #fef102;
  font-size: 16px;
}

/* PÁGINA DISPOSITIVOS */

.dispositivos h2 {
  font-family: "Starbim", sans-serif;
  font-size: 40px;
  color: #00274e;
  text-shadow: 2px 2px 0px #fef102;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.dispositivos h3 {
  font-family: "MADE TOMMY Regular", sans-serif;
  font-size: 34px;
  color: #00274e;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0px #fef102;
}

.seccion-dispositivos p,
.seccion-dispositivos ul {
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
}

.sublista-square {
  list-style-type: square;
}

.sublista-circle {
  list-style-type: circle;
}

.sublista-disc {
  list-style-type: disc;
}

.lista-caracteristicas {
  list-style-type: "⋆.˚ ";
  padding-left: 25px;
}

.titulo-normal {
  font-family: "MADE TOMMY Regular", sans-serif;
}

/* TARJETAS DEPLEGABLES (DETAILS) */

details {
  background-color: rgba(254, 241, 2, 0.3);
  border: 1px solid #fef102;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 30px 0;
  transition: background-color 0.3s ease;
}

.tarjeta-submodelos {
  background-color: rgba(254, 241, 2, 0.3);
  border: 1px solid #fef102;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 30px 0;
  font-weight: bold;
}

detailsop[en] {
  background-color: rgba(254, 241, 2, 0.4);
}

summary {
  font-weight: bold;
  color: #00274e;
  cursor: pointer;
}

/* FORMULARIO */

.formulario-tamagotchi {
  padding: 20px 30px;
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}

fieldset {
  border: 2px dashed #00274e;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: #00274e;
  font-size: 18px;
  padding: 0 8px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #00274e;
  font-size: 16px;
  background-color: #00274e;
  color: white;
}

input[type="range"] {
  width: 80%;
  accent-color: #00274e;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  caret-color: white;
}

input:focus,
input:valid,
select:focus,
select:valid,
textarea:focus,
textarea:valid {
  color: white;
  background-color: #00274e;
  border-color: #00274e;
  outline: none;
}

.boton-enviar {
  display: block;
  background-color: #00274e;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
  transition: background-color 0.3s;
  color: white;
  box-shadow: 2px 2px 0px #fef102;
}