/* FUENTES Y CURSOR */

@font-face {
  font-family: "Starshines";
  src: url("fonts/Starshines.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE TOMMY Regular";
  src: url("fonts/MADE TOMMY Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Starbim";
  src: url("fonts/Starbim.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

body,
button,
a {
  cursor: url("../images/cursor.cur"), auto;
}

body {
  font-family: "MADE TOMMY Regular", sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER (lo que es la barra como tal) */

header::before {
  /* Es obligatorio para que el pseudoelemento exista
   No muestra texto, simplemente le dice al navegador “crea el bloque” */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 38, 74, 0.637);
  border-bottom: 1px solid #fef102;
  z-index: 89;
}

/* GIFS LATERALES HEADER */

.gifs-header {
  position: fixed;
  top: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 95;
}

.gifs-header img {
  height: 44px;
  width: auto;
  display: block;
}

.izquierda-gif {
  left: 80px;
}

.derecha-gif {
  right: 80px;
}

/* MENÚ FIJO */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-family: "Starshines";
  font-size: 25px;
  padding: 10px;
  color: #fef102;
}

nav a:hover {
  background: #fef102;
  color: #00264a;
}

/* CONTENEDOR DEL TÍTULO (BANNER) */
.contenedor-titulo {
  width: 100%; 
  background: rgb(0, 39, 78); 
  border-top: 2px solid #fef102;
  border-bottom: 2px solid #fef102; 
  box-shadow: 0 0 15px #00274e; 
  padding: 25px 15px;
  margin: 100px auto auto auto;
  text-align: center; 
  backdrop-filter: blur(6px); 
}

/* TÍTULO PRINCIPAL */
.titulo-principal {
  font-family: "Starbim";
  font-size: 60px;
  color: #fef102;
  margin: 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); 
}

/* MAIN, SECTION Y ASIDE DE LA PÁGINA */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 20px;
}

section {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

/* FONDO DE LA PÁGINA Y ELEMENTOS GRÁFICOS */

.personajes {
  background-image: url("../images/fondo.gif");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.index {
  background-image: url("../images/fondo.gif");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.imagen-introduccion {
  max-width: 100%;
  width: 500px;
  height: auto;
  display: block;
}

.pie-imagen {
  font-family: "Starshines";
  color: #fef102;
  font-size: 15px;
}

/* FORMULARIO */

.formulario-tamagotchi {
  background-color: #fef102;
  border: 2px solid #00274e;
  border-radius: 12px;
  padding: 20px 30px;
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.25);
}

/* TITULO FORMULARIO*/
.titulo-test {
  text-align: center;
  color: #fef102;
  font-size: 1.6em;
  margin-bottom: 20px;
}

/* AGRUPACIONES FORMULARIO*/
fieldset {
  border: 2px dashed #00274e;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: #00274e;
  font-size: 1.1em;
  padding: 0 8px;
}

/* CAMPOS Y ETIQUETAS FORMULARIO */
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #00274e;
  font-size: 1em;
  background-color: #00274e;
  transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #00274e;
  outline: none;
  color: white;
}

input[type="range"] {
  width: 80%;
  accent-color: #00274e;
  /* Pone de ese color la barra del formulario */
}

textarea {
  resize: vertical;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #00274e;
  color: white;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Mantener texto blanco cuando el campo pierde el foco */
input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  caret-color: white;
  /* el cursor también blanco */
}

/* Asegura que el texto no cambie de color en ningún estado */
input:focus,
input:valid,
select:focus,
select:valid,
textarea:focus,
textarea:valid {
  color: white;
  background-color: #00274e;
  border-color: #00274e;
  outline: none;
}

/* BOTÓN DE ENVÍO FORMULARIO */
.boton-enviar {
  display: block;
  background-color: #00274e;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
}

.boton-enviar:hover {
  background-color: #00274e;
  transform: scale(1.05);
}

/* TARJETA INTRODUCCIÓN PÁGINA PERSONAJES */

.tarjeta-introduccion {
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 2px solid #00274e;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4);
  padding: 20px;
  width: 1000px;
  margin: 40px auto; 
  height: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: justify;
}

.imagen-introduccion-tarjeta {
  width: 350px;
  height: auto;
  border-radius: 15px;
  border: 2px solid #00274e;
}

.texto-tarjeta {
  color: #00274e;
  font-family: "MADE TOMMY Regular";
}

.texto-tarjeta h2 {
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
  color: #00274e;
}

.texto-tarjeta p {
  font-size: 16px;
  line-height: 1.5;
}

/* ESTILOS DE LA TABLA PERSONAJES */

table {
  width: 1000px;
  height: 500px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #00274e;
  background-color: #ffffff;
}

th,
td {
  border: 1px solid #fef102;
  padding: 8px 10px;
  text-align: center;
  color: #00274e;
  vertical-align: middle;
}

th {
  background-color: #00274e;
  color: #fef102;
}

th[colspan="10"] {
  background-color: #00274e;
  color: #fef102;
  font-size: 1.3em;
  letter-spacing: 1px;
  border: 2px solid #fef102;
  padding: 12px;
}

/* SUBENCABEZADOS TABLA */
tr:nth-child(2) th,
tr:nth-child(3) th {
  background-color: #fef102;
  color: #00274e;
  border: 1px solid #00274e;
  font-weight: bold;
}

/* TFOOT */
tfoot td {
  text-align: justify;
  padding: 15px;
  background-color: #fef102;
}

/* TARJETA DE FONDO PARA LA TABLA */
.tarjeta-tabla {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px); 
  border: 2px solid #00274e; 
  border-radius: 20px;
  padding: 20px 25px;
  width: fit-content;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0, 39, 78, 0.4); 
}

/* CLASES DE LAS GENERACIONES DE LA TABLA PERSONAJES */

/* Generación original */
.generacion-original {
  background-color: #fdfd96;
}

/* Generación connection */
.generacion-connection {
  background-color: #d6f5ff;
}

.generacion-connection2 {
  background-color: #d6f5ff79;
}

/* Generación id */
.generacion-id {
  background-color: #f6e1ff;
}

.generacion-id2 {
  background-color: #f6e1ff77;
}

/* Generación mix */
.generacion-mix {
  background-color: #d8ffd6;
}

.generacion-mix2 {
  background-color: #d8ffd671;
}

/* COLOREAR CELDAS GENERO */
.genero-masculino {
  background-color: #b3d9ff;
}

.genero-femenino {
  background-color: #ffd6e7;
}

/* CLASES DE LAS IMÁGENES DE LA TABLA TAMAGOTCHI */
.arte-tamagotchi {
  width: 85px;
  height: 85px;
  border-radius: 6px;
}

.sprite-tamagotchi {
  width: 50px;
  height: 50px;
}
