/* FUENTES Y CURSOR */

@font-face {
  font-family: "Starshines";
  src: url("fonts/Starshines.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body,
button,
a {
  cursor: url("../images/cursor.cur"), auto;
}

/* HEADER (lo que es la barra como tal) */

header::before {

  /* Es obligatorio para que el pseudoelemento exista
   No muestra texto, simplemente le dice al navegador “crea el bloque” */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 38, 74, 0.637);
  border-bottom: 1px solid #fef102;
  z-index: 89;
}

/* GIFS LATERALES HEADER */

.gifs-header {
  position: fixed;
  top: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 95;
}

.gifs-header img {
  height: 44px;
  width: auto;
  display: block;
}

.izquierda-gif {
  left: 80px;
}
.derecha-gif {
  right: 80px;
}

/* MENÚ FIJO */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-family: "Starshines";
  font-size: 25px;
  padding: 10px;
  color: #fef102;
}

nav a:hover {
  background: #fef102;
  color: #00264a;
}

/* CONTENEDOR DEL TÍTULO */

.contenedor-titulo {
  position: static; /* muy importante: evita que herede el fixed */
  text-align: center;
  margin-top: 120px; 
  margin-bottom: 50px; 
}

/* TÍTULO PRINCIPAL */

.titulo-principal {
  font-family: "Starshines";
  font-size: 60px;
  color: #fef102;
  margin: 0;
}

/* MAIN, SECTION Y ASIDE DE LA PÁGINA */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 20px;
}

section {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

/* FONDO DE LA PÁGINA Y ELEMENTOS GRÁFICOS */

.index {
  background-image: url("../images/fondo-index.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.imagen-introduccion {
  max-width: 100%;
  width: 500px;
  height: auto;
  display: block;
}

.pie-imagen {
  font-family: "Starshines";
  color: #fef102;
  font-size: 15px;
}
